@model MiniMercadoVirtual.Models.Endereco

@{
    ViewData["Title"] = "Excluir";
}
<p>
    <h3>Excluir</h3>
</p>
<h4>Endereço</h4>
<h3>Você tem certeza que deseja excluir esse endereço ?</h3>
<div class="row">
    <table class="table">
        <tr>
            <td class="col-md-2"><strong>@Html.DisplayNameFor(model => model.Cep)</strong></td>
            <td class="col-md-10">@Model.Cep</td>
        </tr>
        <tr>
            <td class="col-md-2"><strong>@Html.DisplayNameFor(model => model.Logradouro)</strong></td>
            <td class="col-md-10">@Model.Logradouro</td>
        </tr>
        <tr>
            <td class="col-md-2"><strong>@Html.DisplayNameFor(model => model.Numero)</strong></td>
            <td class="col-md-10">@Model.Numero</td>
        </tr>
        <tr>
            <td class="col-md-2"><strong>@Html.DisplayNameFor(model => model.Bairro)</strong></td>
            <td class="col-md-10">@Model.Bairro</td>
        </tr>
        <tr>
            <td class="col-md-2"><strong>@Html.DisplayNameFor(model => model.Cidade)</strong></td>
            <td class="col-md-10">@Model.Cidade</td>
        </tr>
        <tr>
            <td class="col-md-2"><strong>@Html.DisplayNameFor(model => model.Uf)</strong></td>
            <td class="col-md-10">@Model.Uf</td>
        </tr>
        <tr>
            <td class="col-md-2"><strong>@Html.DisplayNameFor(model => model.Complemento)</strong></td>
            <td class="col-md-10">@Model.Complemento</td>
        </tr>
    </table>
    <form asp-action="ConfirmarExclusao">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Confirmar" class="btn btn-danger" /> - <a class="btn btn-primary" asp-action="Index">Lista de Endereços</a>
    </form>
</div>
