@model MiniMercadoVirtual.Models.Cliente

@{
    ViewData["Title"] = "Detalhes";
}

<p>
    <h3>Detalhes</h3>
</p>

<h4>Cliente</h4>
<div class="row">
    <table class="table">
        <tr>
            <td class="col-md-2"><strong>@Html.DisplayNameFor(model => model.Nome)</strong></td>
            <td class="col-md-10">@Model.Nome</td>
        </tr>
        <tr>
            <td><strong>@Html.DisplayNameFor(model => model.Email)</strong></td>
            <td>@Model.Email</td>
        </tr>
        <tr>
            <td><strong>@Html.DisplayNameFor(model => model.Senha)</strong></td>
            <td>@Model.Senha</td>
        </tr>
        <tr>
            <td><strong>@Html.DisplayNameFor(model => model.DtInclusao)</strong></td>
            <td>@Model.DtInclusao</td>
        </tr>
        <tr>
            <td><strong>@Html.DisplayNameFor(model => model.DtAlteracao)</strong></td>
            @if (Model.DtAlteracao == Convert.ToDateTime("01/01/0001 00:00:00"))
            {
                <td></td>
            }
            else
            {
                <td>@Model.DtAlteracao</td>
            }
        </tr>
        <tr>
            <td><strong>@Html.DisplayNameFor(model => model.Status)</strong></td>
            <td>@Model.Status</td>
        </tr>
    </table>
</div>
<p><strong>Endereços</strong></p>
<div>
    <table class="table col-md-12">
        <thead>
            <tr>
                <th>Cep</th>
                <th>Logradouro</th>
                <th>Número</th>
                <th>Bairro</th>
                <th>Cidade</th>
                <th>Uf</th>
                <th>Complemento</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Endereco)
            {
                <tr>
                    <td>@item.Cep</td>
                    <td>@item.Logradouro</td>
                    <td>@item.Numero</td>
                    <td>@item.Bairro</td>
                    <td>@item.Cidade</td>
                    <td>@item.Uf</td>
                    <td>@item.Complemento</td>
                    <td><a class="btn btn-primary btn-sm" asp-action="Alterar" asp-controller="Enderecos" asp-route-id="@item.Id">Editar</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <br /><a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Editar</a> - <a class="btn btn-primary" asp-action="Index">Lista de Clientes</a>
</div>
